
@media screen and (min-width: 720px) {

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: right;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.person {
  display: block;
  color: white;
  text-align: center;
  float: right;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-left: 1px solid #38546d;
  border-right: 1px solid #16222c;
  border-color: white;
  padding: 1px;
}jananistore.com

.nav li a:hover:not(.brandtext) {
  background-color: #388E3C;
}

.person:hover {
  background-color: #388E3C;
}

.person>.modallogin {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0, opacity 0.3s linear;
}

.person:hover>.modallogin {
  visibility: visible;
  opacity: 1;
}

a.brandtext:hover {
  color: #BDBDBD;
}

.nav li.brandli {
  float: left;
  font-size: 50px;
  padding: 25px !important;
}

.searchli {
  font-size: 20px;
  /*margin: 0px auto;*/
}

.searchli input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/image/search.svg');
  background-position: right;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
}

.containerbig {
  margin: 0px 16px 16px 16px;
}

.headerDivider {
  height: 25px;
  position: absolute;
}

.modallogin {
  position: fixed;
  margin: 25px;
  padding-bottom: 16px;
  z-index: 1;
  right: 0;
  width: 290px;
  /* Full width */
  height: auto;
  /* Full height */
  background-color: white;
  color: black;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.modalbtn {
  /*border: none;*/
  /*color: white;*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  border-radius:50px; 
}

.navbar_ {
  background-color: #4CAF50;
  height: 90px;
}

.navbrand_ {
  color: #FFFFFF;
  font-size: 40px;
}

.navcenter_ {
  margin: 20px;
}
.nav::before{
 width: 100%;
            height: 2px;
          background-color: red;
  content: " ";
            display: block;
           
}

/*The slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
}
@media screen and (max-width: 721px) {

.nav::before {
    width: 100%;
    height: 2px;
    background-color: red;
    content: " ";
    display: block;
}

.nav li.burger {
    display: block;
    color: white;
    padding: 14px 16px;
    background-image: url("../image/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    transition: background-color 0.5s ease, color 0.5s ease;
    float: right;
}


.nav li .brandtext {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 30px;
    float: left;
}

.person {
    display: block;
    color: white;
    text-align: center;
    float: right;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-left: 1px solid #38546d;
    border-right: 1px solid #16222c;
    border-color: white;
    padding: 7px 8px;
}



.person:hover {
    background-color: #388E3C;
}

.person>.modallogin {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0, opacity 0.3s linear;
}

.person:hover>.modallogin {
    visibility: visible;
    opacity: 1;
}

.searchli {
    font-size: 20px;
}

.searchli input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/image/search.svg');
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

.headerDivider {
    height: 25px;
    position: absolute;
}

.modallogin {
    position: fixed;
    margin: 25px;
    padding-bottom: 16px;
    z-index: 1;
    right: 0;
    width: 250px;
    height: auto;
    background-color: white;
    color: black;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.modalbtn {
    /*border: none;*/
    /*color: white;*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  border-radius:50px; 
}

.navfull {
    display: none;
}





jananistore.com
}
