<!DOCTYPE html>
<html>
	<head>
		<title>jananistore|console</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" preload></script>
		<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js" preload></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js" preload></script>
		<style>
			html,body{
				margin: 0;
				padding: 0;
				font-family: sans-serif;
			}
			h1
			{
				text-align: : center;
			}
		.heading{
			display: flex;
			align-items: center;justify-content: center;
		}
		li.mainsliderlist{
		list-style-type:numbers;
		}
		.list img{
		width: 100px;
		}
		li a{
			display: inline;
		font-size: 30px;
		cursor:pointer;
		text-decoration: none;
		}
		</style>
	</head>
	<body  ng-app="mainpage" >
		<div class="heading">
			<h1>
			
			Jananistore Console :3
			</h1>
		</div>
		<main ng-controller="mainslider">
		<h2>main slider</h2>
		<ol class="mainsliderlist" >
			<div class="list" ng-repeat="list in lists track by $index" >
				
				<li><img ng-src="{{list.ImageUrl}}" alt="slideimages"><a ng-click="dele(list.$id)">x</a></li>
				
			</div>
			Add:<select ng-options="category.$id for category in categorys" ng-click="sele()" ng-model="selected">
			</select>
			<div class="list" ng-repeat="sele in selects track by $index" >
				
				<li><img ng-src="{{sele.ImageUrl}}" ng-click="selecte(sele.ImageUrl)" alt="slideimages"></li>
				
			</div>
		</ol>
		</main>
		
		
	</body>
	<script type="text/javascript">
	var mainpage = angular.module("mainpage", ["firebase"]);
	//
	mainpage.controller('mainslider', function ($scope,$firebaseArray) {
	var ref = firebase.database().ref().child("/public/mainslider/");
	$scope.lists = $firebaseArray(ref);
	console.log($scope.lists);
	
	var ref1 = firebase.database().ref().child("/public/products/category/");
	$scope.categorys = $firebaseArray(ref1);
	$scope.sele = function(ids){
	console.log($scope.selected.$id);
	var ref2 = firebase.database().ref().child("/public/products/category/"+$scope.selected.$id);
	$scope.selects = $firebaseArray(ref2);
		};
	$scope.selecte = function(idss){
	
	$scope.lists.$add({ImageUrl:idss})
	};
	$scope.dele=function(sas){

	$scope.lists.$remove($scope.lists.$getRecord(sas));
	};
	});
	</script>
	<script>
	var config = {
	apiKey: "AIzaSyBCOoR4l7M6DyNIahR6H93Z5zpOTsZ_w-E",
	authDomain: "jananistore-f4928.firebaseapp.com",
	databaseURL: "https://jananistore-f4928.firebaseio.com",
	projectId: "jananistore-f4928",
	storageBucket: "jananistore-f4928.appspot.com",
	messagingSenderId: "538178486843"
	};
	firebase.initializeApp(config);
	
	</script>
</html>